<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Date Calculator</title>
    <script>
    function postNumbers(){
        let url = "http://127.0.0.1:5000/numbers_service"
        const numbers = document.getElementById('numbers')
        
        const data = {"numbers":numbers.value}
        fetch(url,{
            method:"POST",
            headers:{
                'Content-Type':'application/json'
            },
            body:JSON.stringify(data)
        })
        .then(response => response.json())
        .then(json =>{
            console.log(json)
            document.getElementById('result').innerHTML = "<p>Sorted:"+json.sorted+"</p>"+"<p>Reverse:"+json.reversed+"</p>"+
            "<p>Evens:"+json.evens+"</p>"
        })
        .catch(error => console.error(error))
    }
    </script>
</head>
<body>
    <h1>Numbers</h1>
    <label for="numbers">Enter the numbers</label>
    <input type="text" id="numbers">
    <button onclick="postNumbers()">Submit</button>
    <h2>Result</h2>
    <div id="result"></div>
</body>
</html>